<!DOCTYPE html>
<html>
  <head>
    <title>MessageMeApp</title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="ui small inverted menu">
        <div class="right menu">
           <%= link_to "Edit Profile", edit_user_registration_path, class: "item" %>
        </div>
     </div>
    <div class= 'ui container'>
        <%flash.each do |name, msg|%>
          <%= msg%>
        <% end %>
      <%= yield %>
    </div>
  </body>
</html>
